/* You can add global styles to this file, and also import other style files */

h1 {
    text-align: center;
    background-color: #ececec;
    color: #565656;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 490px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}